:root body {
    counter-reset: mynum;
    height: auto;
}

p {
    font-size: 4vh;
}

p.numbered:before {
    content: counter(mynum) ": ";
    counter-increment: mynum;
    font-weight: bold;
}

:root main {
    padding: 10vh;
    height: auto;
}
  